<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
  </configSections>
  
  <connectionStrings>
    <add name="DCI_Core" connectionString="Data Source=CHOI;Initial Catalog=DCI_Core;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="AX" connectionString="Data Source=CHOI;Initial Catalog=DynamicsAX_PRD;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  
</configuration>